*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica;
    font-size: 14px;
    line-height: 20px;
}

.navbar{
    background-color: #f1f3ff;
}

/*header*/
h1{
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 1rem;
}

.menu{
    list-style: none;
    display: inline;
}

.menu_item{
    display: inline-block;
    margin-right: 32px;
}

.menu_item a{
    text-decoration: none;
    color: black;
}

.menu_item a:hover{
    font-weight: 700;
    color: black;
}

.header button,
.card-sewa button {
  border: 0;
  border-radius: 2px;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: white;
  background-color: #5cb85f;
}

.header button:hover,
.card-sewa button:hover{
    cursor: pointer;
    background-color: #5cb111;
}

.header{
    padding-top: 60px;
    background-color: #f1f3ff;
}

@media (min-width: 1000px) {
    .main {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .main_desc {
      max-width: 100%;
      margin-right: 32px;
      padding: 60px 0;
    }
  
    .main_desc h1 {
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 150%;
    }
  
    .main_desc p {
      width: 80%;
      margin-bottom: 1rem;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px; 
      top: 177px;
    }
  }
  
  .main_img {
    margin-right: -60px;
    position: relative;
  }
  
  .car_img {
    position: relative;
    width: 85%;
    height: auto;
    margin: 0px;
  }
  
  .car_bg {
    position: absolute;
    width: 95%;
    height: 60%;
    bottom: 0;
    border-radius: 60px 0px 0px 0px;
    background-color: #0d28a6;
    margin: 0px;
  }

  @media (min-width: 1000px) {
    .service {
      display: flex;
      align-items: center;
    }
    .service h2 {
      font-size: 24px;
    }
  
    .service_img {
      width: 100%;
      height: auto;
      position: relative;
      padding: 40px 0;
      margin: auto;
    }
  
    .service_desc {
      width: 800px;
      max-width: 80%;
      padding: 126px 0;
      margin-left: 4.4rem;
      font-size: 14px;
      line-height: 20px;
    }
  
    .service {
      line-height: 34px;
    }
  }


   /* why us */
  .why-us {
    font-size: 14px;
    line-height: 36px;
    margin-left: 2rem;
    padding: 60px 0 0 0;
  }
  
  .card-text {
    font-size: 14px;
  }
  
  .why-title {
    line-height: 36px;
  }
  
  .sewa {
    background-color: #0d28a6;
    color: white;
    border-radius: 13px;
  }
    @media (min-width: 1000px) {
    .sewa p {
      padding: 16px 248px 30px 238px;
    }
  }
  .card-sewa {
    margin-bottom: 46px;
  }
  
  /*testi card corousel */

    .swiper {
      width: 100%;
      height: 100%;
  }
  
  .swiper-slide {
    width: 619px !important;
    height: 270px !important;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #F1F3FF;
    border-radius: 8px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide {
    width:619px;
    height: 270px;
    background-color: #F1F3FF;
    border-radius: 8px;
  }
  
  .swiper-slide:nth-child(2n) {
    width: 40%;
  }
  
  .swiper-slide:nth-child(3n) {
    width: 20%;
  }
  
  .button-lr {
    margin-top:50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #000000;
  }
  
  .button-pn{
    width: 100%;
    margin-top: 1%;
    margin-left: 45%;
    margin-right: 40%;
  }

  .swiper-button-prev {
    position: relative;
    left: unset;
    right: unset;
    width: 45px;
    height: 45px;
    background-color: #f1f3ff;
    text-align: center;
    font-size: 25px ;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
  }
  
  .swiper-button-next {
    position: relative;
    left: unset;
    right: unset;
    width: 45px;
    height: 45px;
    background-color: #5cb85f;
    text-align: center;
    font-size: 25px ;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    color: #f1f3ff
  }
  .button-space {
    width: 100px;
  }
   
  .holder {
    display: flex;
    /* width: 619px; */
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 20px;
  }
  
  .holder-left img {
    width: 80px !important;
    height: 80px !important;
    margin: 90px 60px;
  }
  
  .holder-right img {
    width: auto !important;
    margin-left: 40px;
  }
  
  .holder-right p {
    position: static;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 40px;
    width: 80%;
  }
  
  .holder-right h4 {
    position: static;
    left: 0px;
    top: 112px;
    /* Body/14/Regular */
    font-family: Helvetica;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 10px 40px;
  }
  
  /* faq */
  @media (min-width: 1000px) {
    .faq {
      padding: 60px 0px;
    }
    .faq h2 {
      font-size: 24px;
    }
    .faq p {
      line-height: 36px;
      font-size: 14px;
    }
  
    .border {
      margin-left: 76px;
      max-width: 100%;
      align-content: end;
      font-size: 14px;
    }
  }
  
  /* footer */
  @media (min-width: 1000px) {
    .footer {
      padding: 60px 0 30px 126px;
    }
    .footer-link p {
      line-height: 24px;
      align-items: center;
      margin-left: 0px;
      font-weight: 500;
      margin-left: 6rem;
    }
  }
  
  .footer-link a {
    text-decoration: none;
    color: black;
  }
  
  .footer-link p:hover {
    color: black;
    font-weight: 700;
  }

 /* .page {
  }*/